
body{
    background: url(../images/bg.png) repeat;
    font-family: 'Open Sans', sans-serif;
}

.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.header-wrapper{
    width: 100%;
    height: 130px;
    display: block;
    border-radius: 10px;
    position: relative;
    background: #f2f6f8;
    background: #f2f6f8;
    background: -moz-linear-gradient(-45deg,  #f2f6f8 0%, #b5c6d0 39%, #b5c6d0 39%, #d8e1e7 58%, #e0eff9 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f6f8), color-stop(39%,#b5c6d0), color-stop(39%,#b5c6d0), color-stop(58%,#d8e1e7), color-stop(100%,#e0eff9));
    background: -webkit-linear-gradient(-45deg,  #f2f6f8 0%,#b5c6d0 39%,#b5c6d0 39%,#d8e1e7 58%,#e0eff9 100%);
    background: -o-linear-gradient(-45deg,  #f2f6f8 0%,#b5c6d0 39%,#b5c6d0 39%,#d8e1e7 58%,#e0eff9 100%);
    background: -ms-linear-gradient(-45deg,  #f2f6f8 0%,#b5c6d0 39%,#b5c6d0 39%,#d8e1e7 58%,#e0eff9 100%);
    background: linear-gradient(135deg,  #f2f6f8 0%,#b5c6d0 39%,#b5c6d0 39%,#d8e1e7 58%,#e0eff9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 );
    border-bottom: 5px solid #11b7d4;
    border-right: 3px solid #11b7d4;
    border-left: 1px solid #11b7d4;
    border-top: 1px solid #11b7d4;

}
.logo{
    height: 45px;
    margin-top: 30px;
    float: left;
    font-size: 30px;
    font-weight: bold;
}


.header{
    padding: 10px;
}

.content-wrapper{
    margin-top: 10px;
    background-color: rgba(176,196,222,0.3);
    min-height: 600px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #609;
}
.profile, .profile-edit{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
}

#categories {
    list-style: none;
    width: 100%;
}
#categories li {
    float: left;
    padding: 5px 10px;
    width: 200px;
    height: 200px;
    overflow-y: hidden;
    border-top: 8px solid #555;
    background-color: #fff;
    cursor: pointer; 
    margin-bottom: 10px;
    margin-right: 10px;
}
#categories li h2 {
    font-size: 120%;
    margin: 0 0 .2em 0; 
}
#categories li h2 a {
    color: #333;
    text-decoration: none; 
}
#categories li p {
    margin: 0; 
}
li#cat-1 {
    border-top-color: #06f;
    background-color: #fafaff; 
}
#cat-1:hover {
    border-top-color: #03f;
    background-color: #bdf; 
}
li#cat-2 {
    border-top-color: #c00;
    background-color: #fffaf2; 
}
#cat-2:hover {
    border-top-color: #900;
    background-color: #fdb; 
}
li#cat-3 {
    border-top-color: #0c0;
    background-color: #f2fff2; 
}
#cat-3:hover {
    border-top-color: #090;
    background-color: #cfc; 
}
li#cat-4 {
    border-top-color: #639;
    background-color: #fff2ff; 
}
#cat-4:hover {
    border-top-color: #609;
    background-color: #ecf; 
}

.cat-title, .cat-desc{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

.cat-desc{
    width: 800px;
    font-style: italic;
    font-size: 17px;
}

.category .advert {
    width: 90%;
    height: 120px;
    border-left: 3px solid;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.category .adv-title{
    background-color: rgba(10,15,100,0.4);
    padding-left: 15px;
    width: 100%;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.advert .adv-write{
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    display: block;
}

.cabinet-adv-list .adv-title{
    font-size: 20px;
    font-weight: bold;
}

.category .adv-date{
    background-color: rgba(10,15,100,0.2);
    padding-left: 15px;
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.category .advert:hover{
    margin-left: 3px;
}

.cabinet {
    width: auto;
    float: right;
}

.cabinet-adv-list{
    width: 700px;
    height: 140px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 5px;
}

.cabinet-adv-list .advert div{
    width: 100%;
    background-color: rgba(120,230,250,0.3);
    height: 25px;
}

.cabinet-adv-list .adv-type{
    font-weight: bold;
    text-decoration: underline;
}
.cabinet-adv-list .advert{
    background-color:  rgba(198,11,100,0.1);
    padding-bottom: 5px;
    margin-top: 5px;
}

.cabinet-adv-list .advert p, .cabinet-adv-list .advert a {
    padding-left: 15px;
}






form#signup-form, form#signin-form, form#write-form, form#newadvert-form{
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}

#signup-form a, #signin-form a, #write-form a{
    display: block;
    width: 170px;
}

#write-form textarea{
    width: 310px;
    height: 100px;
}

input[type=text], input[type=password], #newadvert-form select {
    width: 300px;
    height: 36px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#sort-type{
    float: right;
    position: absolute;
    right: 410px;
    top: 304px;
}

#edit-profile input, .profile input{
    float: right;
}

.submit-btn{
    height: 40px;
    width: 100px;
}

.cabinet-menu{
    display: block;
    width: 770px;
    font-size: 25px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;

}

.cabinet-menu li:hover{
    margin-left: 3px;
}

.admin-menu ol li{
    cursor: pointer;
    margin-bottom: 15px;
}

.admin-menu ol li:hover{
    margin-left: 3px;
}

#error404{
    margin: 0 auto;
    width: 300px;
}

.errorInput{
    border: 1px solid red;
    background-color: #FFCECE;
}

.sort{
    width: 420px;
    resize: horizontal;
    margin-left: auto;
    margin-right: auto;
}



#hideErrorField{
    float: right;
    margin-top: -10px;
    margin-right: 40px;
    cursor: pointer;
}

.errorField{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255,10,10,0.9);
    border-bottom: 1px solid #d32a2a;
    font-size: 23px;
    padding: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 #940f0f;
    display: none;
    cursor: pointer;
    z-index: 10;
}
.infoField{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(10,250,10,0.9);
    border-bottom: 1px solid #27DB39;
    font-size: 23px;
    padding: 16px;
    text-align: center;
    color: #fff;
    display: none;
    cursor: pointer;
    z-index: 10;
}



.btn-default {
    background-color:#11b7d4;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:2px solid #2f889e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    padding:12px 73px;
    text-decoration:none;
    text-shadow:0px 0px 0px #2b665e;
}
.btn-default:hover {
    background-color: #2f889e;
}
.btn-default:active {
    position:relative;
    top:1px;
}


/* SEARCH FORM  */

#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 500px;
    height: 35px;
    padding: 10px;
    margin: 10px auto 50px;
    overflow: hidden; /* Clear floats */
}


#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 23px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
        0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
    border: 0;  /* Small centering fix for Firefox */
}

/* SEARCH FORM  */

.pagination {
    padding: 20px;
    margin-bottom: 20px;
    width: auto;

}


.image-gallery{
  width:800px;
  height: 340px;
  background-color: rgba(190,220, 220, 0.5);
  padding:20px;
  border-radius:10px;
  border:solid 1px #c5c5c5;
  margin-left: auto;
  margin-right: auto;
  
}
.image-gallery .big-image{
  width:auto;
  max-width: 300px;
  height:250px;
  border:solid 1px gray;
  padding:10px;
  margin:0 auto;
  background-color:white;  
}
.image-gallery .big-image img{
  display:none;
  margin:0 auto;
  height:250px;
}
/*Selected image display*/
.image-gallery .big-image img:target{display:block;}
/*on select image display none the default image*/
.image-gallery .big-image img:target ~ img#default{display:none;}
/*Show Default Image in first load*/
.image-gallery .big-image img#default{display:block;}

.image-gallery ul{
    list-style:none;
    margin-top:15px;
    display: block;
    width: 325px;
    margin-left: auto;
    margin-right: auto;

}
.image-gallery li{
    list-style:none;
    float:left;
    background-color:rgba(255,255,255,0.5);
    margin-right:3px;
    width: 70px;
}

.image-gallery li img{
    float:left;
    background-color:rgba(255,255,255,0.5);
    margin-right:5px;
    width: 70px;
}

.image-gallery li:hover{
    border-top: 3px solid #633317;
}

.title{
    font-family: Tahoma, Geneva, sans-serif;
    font-size:30px;
    font-weight:bold;
    color:#633317;
    text-align:center;
    margin-bottom:15px;
}

#posts{
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.post{
    width: 350px;
    height: 300px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    min-height: 200px;
    position: relative;
    cursor: pointer;
    background-color: #e0eff9;
    background-image: url("/img/blog2.jpg");
    background-size: 100% 100%;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

.post-title{
    margin-left: 15px;
    margin-right: 15px;
}

.post .bg-content{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.post:hover{
    
    -moz-box-shadow: 5px 5px 7px 0px ;
    -webkit-box-shadow: 5px 5px 7px 0px #6495ED;
    box-shadow: 5px 5px 7px 0px #6495ED;
    
}


.post .post-title a{
    font-size: 19px;
    color: #fff;
    font-family: "HelveticaR", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}

.post .post-title span{
    background-color: #71c239;
    border-radius: 3px;
    padding: 3px;
    margin-left: 5px;
    color: #fff;
}

.post .post-content{
    margin-top: 10px;
    width: 95%;
    overflow: hidden;
    height: 53px;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.post div{
    clear: both;
}

.post-date{
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
}
.post-date span{
    float: right;
    font-size: 14px;
}


